<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.cloudnote.dao.EmpDAO">
	<insert id="save" parameterType="cn.tedu.cloudnote.entity.Emp"
		useGeneratedKeys="true" keyProperty="no">
		Insert into t_emp
		(name)
		VALUES
		(#{name})
	</insert>
</mapper>
