<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.tedu.cloudnote.dao.ShareDAO">
	<!-- 将笔记保存至共享表 -->
	<insert id="saveShareNote" parameterType="cn.tedu.cloudnote.entity.Share">
		INSERT INTO cn_share
		(cn_share_id,cn_share_title,cn_share_body,cn_note_id)
		VALUES
		(#{cn_share_id},#{cn_share_title},#{cn_share_body},#{cn_note_id})
	</insert>
	<select id="findNoteByKeyword" parameterType="map" resultType="cn.tedu.cloudnote.entity.Share">
		SELECT * 
		FROM cn_share
		WHERE cn_share_title LIKE #{keyword}
		LIMIT #{begin},5
	</select>
	<select id="findShareNoteById" parameterType="string" resultType="cn.tedu.cloudnote.entity.Share">
		SELECT * 
		FROM cn_share
		WHERE cn_share_id=#{id}
	</select>
</mapper>